node_modules/
.wwebjs_auth/
.vscode/
downloads/
cookies.txt
yt-dlp.exe
yt-dlp-plugins/
.env
data/
icon.ico
start-background.bat
stop-background.bat
view-logs.bat
local-worker/node_modules/
local-worker/.env
